.container {  
    display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;

  }
  
  
  
   img.recipe-img{
       max-width: 250px;
       height: 250px;
       border-radius: none
   }
   h1{
       font-size: 2.2em;
       text-align: center;
       color: #000;
   }
   #search{

    width: 30%;
    height: 2rem;
    margin-bottom: 20px;
    
   }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .container{
        display: grid; 
     
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        
        gap: 0px;
        height: 100%;
     
        
     }
  }

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }